.article-form-container {
  width: 80%;
  margin: 2% auto auto auto;
  padding: 10px;
}

.article-form-container h2 {
  margin-top: 0;
  text-align: center;
}

.article-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.article-form-container label {
  font-size: 14px;
}

.article-form-container input,
.article-form-container select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  width: 80%;
}

.article-form-container .dropdown {
  width: 70%;
}

.article-form-container .article-form-button {
  margin: 10px 0px 20px 0px;
  padding: 10px;
  background-color: #4d4d4d;
  color: #eeee;
  border: none;
  width: 140px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.article-form-container .article-form-button:hover {
  background-color: #fff4e0;
  color: #4d4d4d;
}
