.outfit-form-container {
  width: 100%;
  margin: 2% auto auto auto;
  padding: 20px;
}

.outfit-form-container h2 {
  margin-top: 0;
  text-align: center;
}

.outfit-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.outfit-form-container label {
  font-size: 14px;
}

.outfit-form-container input[type="text"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  width: 85%;
}

.outfit-form-container .articles-container {
  padding: 10px 25px 10px 10px;
}

.outfit-form-button {
  margin: 10px 0px 20px 0px;
  padding: 10px;
  background-color: #4d4d4d;
  color: #eeee;
  border: none;
  width: 140px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.outfit-form-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: white;
}

.outfit-form-button:disabled:hover {
  background-color: #ccc;
  color: white;
}

.outfit-form-button:hover {
  background-color: #fff4e0;
  color: #4d4d4d;
}

.article-form-button:disabled {
  background-color: #ccc;
  color: white;
  cursor: not-allowed;
}

.article-form-button:disabled:hover {
  background-color: #ccc;
  color: white;
}

.article-form-button {
  margin: 10px 0px 20px 0px;
  padding: 10px;
  background-color: #4d4d4d;
  color: #eeee;
  border: none;
  width: 140px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.article-form-button:hover {
  background-color: #fff4e0;
  color: #4d4d4d;
}

.outfit-form-container input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.05);
  vertical-align: middle;
}

.outfit-form-container label.checkbox-label {
  font-size: 14px;
  cursor: pointer;
}

.outfit-form-container input[type="checkbox"]:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.type-header {
  background-color: #fff4e0;
  padding: 10px;
  cursor: pointer;
}

.type-header h4 {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type-header i {
  font-size: 14px;
}

.type-content {
  display: none;
  border: 1px solid #eee;
}

.type-content.active {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px 5px 15px;
}

.type-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.type-item input[type="checkbox"] {
  margin-right: 2px;
}
