.outfit-view {
  width: 100%;
  max-width: 800px;
  width: 100%;
  margin: 2% auto auto auto;
}

.outfit-view h2 {
  text-align: center;
  margin-bottom: 30px;
}

.new-button {
  text-align: center;
  margin-bottom: 20px;
}

.new-button button {
  padding: 10px 20px;
  background-color: #fff4e0;
  color: #4d4d4d;
  box-shadow: 1px 2px 5px #605f5fe8;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-button button:hover {
  background-color: #4d4d4d;
  color: #eeee;
}

.outfit-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 30px;
}

.outfit-card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 1px 2px 5px #b46060;
}

.outfit-card:hover {
  transform: scale(1.05);
}

.outfit-card a {
  text-decoration: none;
  color: #333;
}

.outfit-container .trash-icon {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
}

.outfit-container .trash-icon i {
  color: #999;
}

.outfit-container .trash-icon i:hover {
  color: #ff0000;
}

.outfit_articles img {
  width: 125px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.outfit-img-container img {
  max-width: 70px;
}


