/* Modal Container */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Modal Content */
.modal-content {
  background-color: white;
  padding: 20px 50px 40px 50px;
  box-shadow: 0 0 10px #8e4d4dee;
  max-width: 80%;
}

/* Close Button */
.close {
  align-self: self-end;
  cursor: pointer;
  font-size: 24px;
  color: #bbb;
}

/* Center the modal content vertically */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close:hover {
  color: red;
}

.modal button {
  margin-top: 30px;
  padding: 10px;
  background-color: #B46060;
  color: #eeee;
  border: none;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #fff4e0;
  color: #B46060;
}