.navbar {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  padding: 0.75rem 0 0.75rem 0;
  background-color: #4d3e3e;
  justify-content: space-evenly;
}

.navbar-item {
  padding: 5px;
  list-style-type: none;
  text-align: center;
}

.navbar-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff3cd;
}

.navbar-link:hover {
  color: #ffbf8b;
}
