.navbar {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  width: 100%;
  padding: 0.75rem 0 0.75rem 0;
  background-color: #4D3E3E;
}

.navbar-item {
  flex-basis: 25%;
  list-style-type: none;
  text-align: center;
}

.navbar-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  color: #FFC38B;
}

.navbar-link:hover {
  color: #FFF3CD;
}

.navbar-logout {
  margin-left: auto;
}
